<h1><%= "ADMIN" if @user.admin %></h1>
Name: <%= @user.name %><br/>
Mood <%= @user.mood %><br/>
Height: <%= @user.height %><br/>
Tickets: <%= @user.tickets %><br/>
<a href="/attractions">See attractions</a>