<%= form_for @attraction do |f| %>
  <p>Name <%= f.text_field :name %></p>

  <p>Height Requirement (in inches) <%= f.number_field :min_height %></p>
  
  <p>How fun is it? (1-5 scale) <%= f.number_field :happiness_rating %></p>
  
  <p>How nausea-inducing is it? (1-5 scale) <%= f.number_field :nausea_rating %></p>
  
  <p>How many tickets does it cost? <%= f.number_field :tickets %></p>

  <%= f.submit %>
<% end %>