<h1>Listing attractions</h1>

<table style="width:100%" rules="rows">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Tickets</th>
            <th>Details</th>
        </tr>
        
        <% @attractions.each do |att| %>
        <tr>
            <td><%= att.name %></td>
            <td><%= att.tickets %></td>
            <td>
                <% if !@user.admin %>
                    <%= link_to "Go on #{att.name}", attraction_path(att) %>
                <% else %>
                    <%= link_to "Show #{att.name}", attraction_path(att) %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<br><br>

<%= link_to "New Attraction", new_attraction_path %>