<h1>New Attraction</h1>

<%= form_for :attraction, url: '/attractions' do |f| %> 
    Name <br/> 
        <%= f.text_field :name %><br/>
    Min Height (in inches) <br/>
        <%= f.text_field :min_height%><br/>
    Happiness Rating (1-5 scale) <br/>
        <%= f.text_field :happiness_rating %><br/>
    Nausea Rating (1-5 scale) <br/>
        <%= f.text_field :nausea_rating %><br/>
    Tickets <br/>
        <%= f.text_field :ticket_number %><br/>

  <%= f.submit "Create Attraction" %>
<% end %> 